#full_contact{
    padding: 180px 0 100px 0;
    background: url(../images/contactbg.jpg);

    .main_contact{

        .contact_con{
            display: flex;
            button{
                height: 100px;
                width: 100px;
                background: rgb(2,0,36);
                background: linear-gradient(to top, rgba(2,0,36,1) 0%, rgba(87,13,200,1) 0%, rgba(158,78,252,1) 100%); 
                border-style: none;
                font-family: $font_anton;
                font-weight: 400;
                font-size: 40px;
                color: #ffffff;
                text-shadow: 2px 6px 1px #5813b8;
                -webkit-box-shadow: 0px 6px 0px 0px #3a0090; 
                box-shadow: 0px 6px 0px 0px #3a0090;
                margin-top: 20px;
                margin-right: 15px;
                margin-top: -10px;

                &:hover{
                    background: rgb(2,0,36);
                    background: linear-gradient(to top, rgba(2,0,36,1) 0%, rgba(166,0,132,1) 0%, rgba(255,57,220,1) 100%); 
                    text-shadow: 2px 6px 1px #A60084;
                    -webkit-box-shadow: 0px 6px 0px 0px #661355; 
                    box-shadow: 0px 6px 0px 0px #661355;
                }
            }

            .contant_txt{

                h4{
                    color: #ffffff;
                    font-family: $font_anton;
                    font-size: 24px;
                }
                p{
                    color: #ffffff;
                    font-size: 20px;
                    font-family: $font_nunito;

                    span{
                        display: block;
                    }
                }
            }
        }
    }

}