#full_games_games{
    padding: 190px 0 100px 0;
    background-color: #0b001b;

    .main_games_games{
        .games_img_about{
            margin-top: 30px;
            position: relative;

            &:hover .games_pic_box_overlay {
                opacity: 1;
            }
        }
    }
}