#full_unlock_home{
    padding: 80px 0;
    background-color: #150035;
    

    .main_unlock_home{

        .section_title{
            padding-top: 80px;
        }
        .unlock_con{
            p{
                font-family: $font_nunito;
                font-size: 16px;
                color: #ffffff;
                padding-top: 68px;
                padding-bottom: 63px;
            }
        }
    }
}